html {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #48555B;
}

.container  {
    max-width: 941px;
    margin: 0 auto;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 5.71px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.095em;
    margin-bottom: 28px; 
    margin-left: 9px;
}

.text-h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.128em;
}
.underline {

    height: 3px;
    width: 53px;
    background-color: #00A4E5;
    margin: 0 auto;
    
}

.text-h3 {
    font-size: 20px;
}

.text-h4 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.19px;
    line-height: 29px;
    font-weight: 800;
    color: #fff;
}


.text-p {
    font-size: 16px;
    font-weight: 600;
}

.header__title {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.header__title {
    padding-top: 42px;
    padding-bottom: 71px;
    text-align: center;
}

.logo {
    margin-bottom: 337px;
}

.title-text {
    color: #fff;
    width: 386px;
    margin: 0 auto;
    margin-bottom: 221px;

}

.header-text {
    margin-left: 4px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.35em;
    color: #fff;
}

.header__menu {
    padding-top: 24px;
    padding-bottom: 22px;
    border-bottom: 2px solid #E6E6E6;
}

.header__menu-flex {
    display: flex;
    max-width: 915px;
    justify-content: space-between;
    align-items: center;
}


.logo-menu {
}
.nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    
}

.nav a {
    text-decoration: none;
    color: #48555B;
}

.nav li:not(:last-child) {
    margin-right: 40px;
}

.nav a:hover {
    
    color: #00A4E5;
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: #000;
    border: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
}

.burger__line:last-child {
    margin-bottom: 0;
}

.about {
    padding-top: 57px;
    padding-bottom: 59px;
}

.about__title {
    text-align: center;
    margin-left: 4px;
    margin-bottom: 52px
}


.about__flex {
    display: flex;
    justify-content: space-between;
      
}


.about__flex-item span {
    color: #00A4E5;
}

.about__flex-item h3 {
    letter-spacing: 0.01em;
    margin-bottom: 30px;
    max-width: 405.08px;
}

.about__flex-item p {
    letter-spacing: 0.19px;
    max-width: 405.08px;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
}


.about__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.about__grid-item {
    margin-top: 32px;
    background-image: url(../img/plan.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 224px;
    width: 140px;
    color: #fff;
    padding: 15px 14px;
}

.about__grid-item:nth-child(2) {
    background-image: url(../img/Manage.png);
}

.about__grid-item:nth-child(3) {
    background-image: url(../img/build.png);
}

.services {
    padding-top: 58px;
    padding-bottom: 115px;
}
.services__title {
    margin-bottom: 78px;
}
.services__title-flex {
    display: flex;
    justify-content: space-between;
}
.services__title-flex_header .text-h2 {
    font-size: 18px;
    letter-spacing: 2.31px;
    font-weight: 700;

}

.services__title-flex_header .underline {
    margin: 0;
}
.services__title-flex .text-p {
    margin-left: 123px;
    max-width: 405.4px;
    font-size: 11px;
    letter-spacing: 0.2px;
    line-height: 19px;
    font-weight: 400;
}
.btn {
    text-decoration: none;
    padding: 11px 27px;
    font-size: 13px;
    letter-spacing: 0.9px;
    font-weight: 700;
    background-color: #00A4E5;
    color: #fff;
    text-transform: uppercase;
}
.services__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}
.services__grid-item {
    height: 330px;
    width: 295px;
    border: 1px solid #E6E6E6;
    padding: 35px 0;
    padding-left: 23px;
}

.services__grid-item img {
    margin-bottom: 24px;
}

.services__grid-item:nth-child(2) img {
 
    margin-bottom: 21px;
}

.services__grid-item:nth-child(3) img {
    margin-bottom: 21px;
}

.services__grid-item h3 {
    font-size: 16px;
    font-weight: 700;
    max-width: 250px;
    line-height: 24px;
    letter-spacing: 0.43px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services__grid-item:nth-child(2) h3 {
    margin-bottom: 14px;
}

.services__grid-item:nth-child(3) h3 {
    margin-bottom: 13px;
}

.services__grid-item .text-p {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    max-width: 250px;
    letter-spacing: 0.19px;
}
.amazing {
    padding-top: 117px;
    padding-bottom: 240px;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.amazing__item {
    text-align: center;
}
.amazing__item .text-h2 {
    max-width: 350px;
    margin: 0 auto;  
    
    font-size: 30px;
    text-transform: none; 
    margin-bottom: 41px; 
    letter-spacing: 0.19px;
    line-height: 38px;
}
.amazing__item .btn {
    padding: 11px 25px;;
}


.newsletter {
    background-color: #171819;
    padding: 30px 0;
}
.newsletter__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 68.5%;
    gap: 68px;
}
.newsletter__flex-item .text-h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.85px;
    margin-left: 2px; 
}

input {
    padding: 19px 18px;
    height: 40px;
    width: 250px;
    border: none;
    outline: none;
    color: #979797;
    
}

input::placeholder {
    color: #979797;
    font-size: 15px;
}

form {
    display: flex;
}

.newsletter__flex-item .btn {
    padding: 11px 49px;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer {
    color: #fff;
    
}
.footer__main {
    padding-top: 41px;
    padding-bottom: 27px;
    background-color: #141A20;
}
.footer__main-flex {
    display: flex;
    justify-content: space-between;
    /* gap: 95px; */
    
}

.text-h6 {
    text-transform: uppercase;
    letter-spacing: 0.85px;
    font-size: 11px;
    margin-bottom: 10px;
}



.footer__main-flex-item:first-child {
    margin-right: -6px;
}

.footer__main-flex-item:nth-child(2) {
    margin-right:-53px;
}

.footer__main-flex-item:first-child h6 {
    margin-bottom: 19px; 
}

.footer__main-flex-item .logo-menu {
    margin-bottom: 10px;
}
.footer__main-flex-item .text-p {
    width: 250px;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.85px;
}

.footer__main-flex-item:nth-child(3) .text-p {
    line-height: 17px;
} 
.footer__main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    /* gap: 10px; */
}

.footer__main-grid-item .r {
    margin-left: -18px;
}

.footer__main-grid-item ul {
    list-style-type: none;
    text-transform: uppercase;  
}

.footer__main-grid-item li {
    letter-spacing: 0.85px;
    line-height: 25px;
    font-weight: 600;
    font-size: 11px;
}

.footer__main-grid-item a {
    text-decoration: none;
    color: #fff;
}

.footer__main-grid-item:nth-child(2) {
    margin-right: 10px;
}

.footer__main-flex-item:nth-child(3) {
    max-width: 110px;
}

.footer__main-flex-item:nth-child(3) .text-p {
    margin-bottom: 15px;
    width: 110px;
}
.footer__main-flex-item .text-phone {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.85px;
    margin-bottom: 20px;
}
.footer__main-flex-item .text-email {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.85px;
}

.footer__icon {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-right: 27px;
}

.footer__icon .fa {
    height: 12.04px;
    width: 12.04px;
}

.footer__icon {
    margin-top: 28px;
}


.footer__copyright {
    padding-top: 22px;
    padding-bottom: 23px;
    background-color: #171819;
}

.footer__copyright p {
    color: #fff;
    text-align: center;
    letter-spacing: 0.115em;
    font-size: 10px;
    font-weight: 400;
}

@media screen and (max-width: 992px) {
    .header__menu {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 768px) {

    .nav {
        display: none;
    }

    .burger {
        display: flex;
    }

    .about__flex {
        flex-direction: column;
        align-items: center;
    }

    .about__flex-item h3 {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .about__flex-item p {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .about__grid {
        max-width: 100%;
    }

    .about__grid-item {
        height: 324px;
        width: 232px;
    }

    .services {
        padding-top: 0;
    }
    
    .services__title {
        margin-bottom: 50px;
    }

    .services__title-flex {
        display: block;
        text-align: center;
    }

    .services__title-flex_header {
        margin-bottom: 20px;
    }

    .services__title-flex_header .underline {
        margin: 0 auto;
    }

    .services__title-flex .text-p {
        margin: 0 auto;
        margin-bottom: 30px;
        min-width: 100%;
    }

    .services__grid {
        /* grid-template-columns: repeat(1, 1fr); */
        gap: 0;
    }

    .services__grid-item {
        margin: 0 auto;
        width: 232px;
    }

    .footer__main {
        padding-left: 15px;
        padding-right: 15px;
        
    }

    .footer__main-flex {
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media screen and (max-width: 576px) {

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .about__grid-item {
        height: 424px;
        width: 330px;
    }

    h1 {
        max-width: 300px;
        margin: 0 auto;
        line-height: normal;
        margin-bottom: 20px;
    }

    .logo {
        margin-bottom: 280px;
    }

    .title-text {
        max-width: 250px;
        margin-bottom: 200px;
    }
    .services__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .services__grid-item {
        margin: 0 auto;
        height: 400px;
        width: 332px;
        
    }
    .newsletter__flex {
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer__main-flex  {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .footer__main-flex-item:nth-child(4) {
        margin-left: 258px;
        margin-right: 0;
    }
    
}


@media screen and (max-width: 380px) {

    .about__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .about__flex-item h3 {
        text-align: center;
        max-width: 330px;
    }

    .about__flex-item p {
        text-align: center;
        max-width: 300px;
        margin-left: 15px;
    }

    .about__grid-item {
       
        max-width: 300px;
    }

    input {
        width: 220px;
    }

    .newsletter__flex-item .btn {
        padding: 11px 25px;
    }

    .footer__main-flex-item:nth-child(4) {
        margin-left: 0;
        margin-right: 0;
    }
}

/*#Modal*/
.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}

.sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  
  .sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  
  .sidenav .collapsible {
    margin: 0;
  }
  
  .sidenav li {
    float: none;
    line-height: 48px;
  }
  
  .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
    margin: 10px 15px;
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
    color: #fff;
  }
  
  .sidenav li > a.btn-flat {
    color: #343434;
  }
  
  .sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
    background-color: #2bbbad;
  }
  
  .sidenav li > a.btn-floating:hover {
    background-color: #26a69a;
  }
  
  .sidenav li > a > i,
  .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
  .sidenav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
  }

    .divider {
        height: 1px;
        overflow: hidden;
        background-color: #e0e0e0;
    }
  
  
  .sidenav .divider {
    margin: 8px 0 0 0;
  }
  
  .sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .sidenav .subheader:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
  }
  
  .sidenav .user-view > a {
    height: auto;
    padding: 0;
  }
  
  .sidenav .user-view > a:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    height: 64px;
    width: 64px;
  }
  
  .sidenav .user-view .name,
  .sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
  }
  
  .sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
  }
  
  .sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
  }
  
  .sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: fixed;
  }
  
  .sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
  }
  

  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #ee6e73;
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: #fff;
  }
  
  .sidenav .collapsible-body {
    padding: 0;
  }
  
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
  }